<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>About</title>
  <link rel="stylesheet" href="/public/css/styles.css">
  <link rel="shortcut icon" href="css/favicon.ico" type="image/x-icon">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@300&family=Zeyada&display=swap"
    rel="stylesheet">
</head>

<body>

    <div class="menu-bar">
        <ul>
            <li><a href="/public/index.html">Home</a></li>
            <li><a href="/views/about.html">About</a></li>
            <li><a href="/views/portfolio.html">Portfolio</a></li>
            <li><a href="/views/portfolio.html">Contact</a></li>
        </ul>
    </div>


















    
<div class="bottom-container">
    <a class="footer-link" href="https://www.linkedin.com/in/hayden-christie/">LinkedIn</a>
    <a class="footer-link" href="https://www.instagram.com/haydenchristie03/">Instagram</a>
    <p class="copyright">© 2023 Hayden Christie</p>
  </div>
  
  <script src="/public/script.js"></script>

</body>

</html>